[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "==3.0.0rc4"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
itsdangerous = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
